{% block footer %}
    <footer>
        <div class="cadre-footer container-fluid">
            <div class="row">
                <div class="d-flex justify-content-around col-lg-4 col-12">
                    <div class="links1">
                        <h3 class="mb-5 title_footer">The Joker Circus</h3>
                        <div><a href="" title="Présentation">Who are they ?</a></div>
                        <div><a href="" title="Evénements">Les événements</a></div>
                        <div><a href="" title="Troupe">La troupe</a></div>
                        <div><a href="" title="Contact">Les annonces</a></div>
                    </div>
                </div>
                <div class=" d-flex justify-content-around col-lg-4 col-12">
                    <div class="logo">
                        <img class="d-block w-100 vh-5" src="{{ asset('build/images/visage.webp') }}" alt="First slide">
                    </div>
                </div>
                <div class="d-flex justify-content-around col-lg-4 col-12">
                    <div class="infos_footer">
                        <h3 class="mb-5 title_footer">Contacts</h3>

                        <div><a href="" title="Twitter">Twitter</a></div>
                        <div><a href="" title="Facebook">Facebook</a></div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
