{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex justify-content-around col-lg-4 col-12">
                    <div class="links1">
                        <h3 class="title_footer">Le Joker (wild) Circus)</h3>
                        <div><a href="" title="Association">L'histoire</a></div>
                        <div><a href="" title="Adherer">Les spectacles</a></div>
                        <div><a href="" title="Galerie">La troupe du Joker</a></div>
                        <div><a href="" title="Contact">Les annonces du Joker</a></div>
                    </div>
                </div>
                <div class=" d-flex justify-content-around col-lg-4 col-12">
                    <div class="">
                        <img class="logo footer" src="{{ asset('') }}" alt="Logo cirque">
                    </div>
                </div>
                <div class="d-flex justify-content-around col-lg-4 col-12">
                    <div class="infos_footer">
                        <h3 class="title_footer">INFOS</h3>

                        <a href="/MentionsLegales/index" title="Mentions légales">Mentions légales</a>
                        <a href="/sitemap/index" title="Plan du site">Plan du site</a>

                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
