{% extends 'layout.html.twig' %}

{% block title %}Joker Circus{% endblock %}

{% block body %}

    {% include 'home/carousel.html.twig' %}

    <div class="mt-5 container">
        <h1 class="display-4">Welcome to the Joker (wild) Circus</h1>
        <p>Le Joker, l'ennemi juré de Batman et de Gotham, est le plus grand clown de l'histoire.</p>
        <p>Mais de loi en loi sur la réforme des retraites, de combats en combats, l'anti-héros a laissé passer les années.</p>
        <p>Il a aujourd'hui réalisé son rêve, il est devenu patron de cirque.</p>
        <p>Il va sûrement passer près de chez toi.</p>
        <p>Voici les dates des spectacles.</p>
        <p>Découvre aussi sa troupe et ses annonces.</p>
    </div>
    <div class="mt-5 mb-5 container">
        <h2>Les nouveaux numéros</h2>
    </div>

{% endblock %}
