{% extends 'layout.html.twig' %}

{% block title %}Les petites annonces{% endblock %}

{% block body %}
    <div class="photo-joker">
        <img class="d-block w-100 vh-5" src="{{ asset('build/images/pub.jpg') }}" alt="Photo Joker">
    </div>

    <h1 class="title-pub m-5 display-3">Les annonces du Joker Circus</h1>
    <div class="container">

        {% for pub in pubs %}
            <div class="jumbotron">
                <h2 class="pub-presentation display-4">{{ pub.title }}</h2>
                <p class="pub-content">{{ pub.content }}</p>
                <hr class="my-4">
                <p class="pub-reference">Référence : {{ pub.reference }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}
