.caroussel_image {
  object-fit: cover;
}

.carousel_title_one h5{
  font-size: 2vw;
  text-align: start;
  text-transform: uppercase;
}

.carousel_title_one p{
  font-size: 2.5vw;
  text-align: start;
  margin-bottom: 0;
}

.carousel_para{
  padding-left: 1rem;
}
