h1 {
  color: $fifth-color;
  text-align: center;
  font-family: $font-title;
}

h2 {
  color: $fourth-color;
  text-align: center;
  font-family: $font-title;
}

.home-presentation {
  font-size: 3em;
  font-family: $font-paragraph;
  border-left: 5px solid $fifth-color;
}

.home-card {
  .card-img-top {
    height: 15rem;
    object-fit: cover;
  }

  .card-title {
    font-family: $font-title;
    color: $third-color;
    font-size: 1em;
    text-align: right;
  }

  .card-text {
    text-align: center;
    font-family: $font-paragraph;
    font-size: 1.8em;
  }
}
