{% extends 'base.html.twig' %}

{% block title %}New Pub{% endblock %}

{% block body %}
    <h1>Create new Pub</h1>

    {{ include('admin_pub/_form.html.twig') }}

    <a href="{{ path('pub_index') }}">back to list</a>
{% endblock %}
