{% extends 'layout.html.twig' %}


{% block title %}Nous contacter{% endblock %}

{% block body %}

    <h1 class="m-5 display-3">Nous contacter</h1>

    <div class="contact-form mt-5 container">
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        <div class="mt-5 mb-5 form-button d-flex flex-column align-items-center">
            <button type="submit" name="btnSearch" class="btn btn-primary btn-lg">Envoyer</button>
        </div>
        {{ form_end(our_form) }}
    </div>

{% endblock %}
