<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <img class="mr-5 test-image" src="{{ asset('build/images/adesivo-batman-coringa-joker-02-10x8cm-coringa.jpg') }}"
             alt="First slide">
    <a class="mr-5 navbar-brand" href="home">Joker Circus</a>

    <div class="mr-5 collapse navbar-collapse" id="navbarNav">
        <ul class="mr-5 navbar-nav">
            <li class="mr-5 nav-item">
                <a class="nav-link" href="home">Des événements</a>
            </li>
            <li class="mr-5 nav-item">
                <a class="nav-link" href="actor">Une troupe</a>
            </li>
            <li class="mr-5 nav-item">
                <a class="nav-link" href="pub">Les petites annonces</a>
            </li>
            <li class="mr-5 nav-item">
                <a class="nav-link" href="contact">Nous contacter</a>
            </li>
        </ul>
    </div>


</nav>
{#<div class="message">#}
{#    {% include 'flash_messages.html.twig' %}#}
{#</div>#}
