<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <img class="mr-5 test-image" src="{{ asset('build/images/adesivo-batman-coringa-joker-02-10x8cm-coringa.jpg') }}"
             alt="First slide">
    <a class="mr-5 navbar-brand" href="#">Joker Circus</a>

    <div class="mr-5 collapse navbar-collapse" id="navbarNav">
        <ul class="mr-5 navbar-nav">
            <li class="mr-5 nav-item">
                <a class="nav-link" href="#">Who are they ?</a>
            </li>
            <li class="mr-5 nav-item">
                <a class="nav-link" href="#">Les événements</a>
            </li>
            <li class="mr-5 nav-item">
                <a class="nav-link" href="#">La troupe</a>
            </li>
            <li class="mr-5 nav-item">
                <a class="nav-link" href="#">Les petites annonces du Joker</a>
            </li>
        </ul>
    </div>
</nav>
