<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <title>{% block title %}Joker Circus{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway&display=swap" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body>

<header>

    {% block navbar %}{% endblock %}

</header>

{% block body %}{% endblock %}

{% block footer %}{% endblock %}

{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}

</body>
</html>
